/* Page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Center everything */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b68a5;
}

/* Card */
.stopwatch-container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(249, 0, 0, 0.1);
}

/* Time display */
#display {
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: bold;
}

/* Buttons */
.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#startBtn { background: #28a745; color: white; }
#stopBtn  { background: #dc3545; color: white; }
#resetBtn { background: #007bff; color: white; }

.buttons button:hover {
    opacity: 0.9;
}
