body {
  font-family: Arial, sans-serif;
  background: #7da6e4;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: 0;
}

.container {
  width: 400px;
  background: #dfe367;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}

#taskInput {
  width: 93%;
  padding: 12px;
  border-radius: 6px;
  border: 1.5px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #ff6a00;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f8f9fa;
  margin: 8px 0;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #2fff00;
}

.delete-btn {
  width: fit-content;
  background: rgb(188, 0, 0);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
